.titulo{

    font-size: larger;
    position: absolute;
    bottom: 400px;
    left: 50px;
    color: white;
}

.textoo{

    font-size: medium;
    position: absolute;
    bottom: 250px;
    left: 50px;
    color: white;
}

.container-fluid{

    position: relative;
    text-align: justify;

    
}

.img-fluid2 {
    background-color: rgba(0,0,0,0.8);
    /* background-image:url(http://www.gelfuzion.com/img/slides/nivo/bg-1.jpg); 
     height: 500px;
    max-width: 100%; */
    filter:brightness(0.4);
  }

  #boton1{

    position: absolute;
    top: 70%;
    left: 73%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  
  
  
  }
  
  #boton1:hover{
  
    background-color: red; /* Green */
    color: white;
  }
  
  #boton2{
  
    position: absolute;
    top: 70%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  
  
    
  }
  
  #boton2:hover{
  
    background-color: red; /* red */
    color: white;

  }