.nav-link{

    color: white;
}


.titulo{

    font-size: larger;
    font-weight: bolder;
    position: absolute;
    bottom: 400px;
    left: 50px;
    color: white;
}

.textoo{

    font-size: medium;
    position: absolute;
    bottom: 250px;
    left: 50px;
    color: white;
}

.container-fluid{

    position: relative;
    text-align: justify;

    
}

.img-fluid2 {
    background-color: rgba(0,0,0,0.8);
    filter:brightness(0.4);
  }

  #boton1{

    position: absolute;
    top: 70%;
    left: 73%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  
  
  
  }
  
  #boton1:hover{
  
    background-color: red; /* Green */
    color: white;
  }
  
  #boton2{
  
    position: absolute;
    top: 70%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  
  
    
  }
  
  #boton2:hover{
  
    background-color: red; /* red */
    color: white;

  }

  #boton3{
  
    position: absolute;
    top: 85%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  
  
    
  }
  
  #boton3:hover{
  
    background-color: red; /* red */
    color: white;

  }

  
#row2{


    background-color: darkslategrey;
    color: aliceblue;
    font-size: 1.5vw;
}

.titulo2{

    font-size: 1.8vw;
    font-weight: bolder;
}

.tituloFormu{

   
    font-weight: bolder;
    text-align: center;
    
}

#ultimoNav{


  background-color: darkslategrey;
  color: aliceblue;
  font-size: 1.5vw;
}
